# Virtual Environment
venv/

# Python byte-code files
__pycache__/
*.py[cod]
*.pyo

# Operating System Files
.DS_Store
Thumbs.db

# Editor/IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Python Distribution Artifacts
build/
dist/
*.egg-info/
*.egg

# Log files and databases
*.log
*.sqlite

# Other files to ignore
*.bak
*.tmp
*.temp


